form{
    background-color: rgb(207, 202, 202);
    width: 520px;
}
td{
    color: rgb(95, 94, 94);
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}
div{
    background-color: white;
    width: 525px;
}