h1, h2{
    color: rgb(104, 104, 255);
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    background-color: rgb(211, 209, 209);
}
h3{
    color: rgb(151, 151, 255);
    font-weight: 100;
}
span{
    font-size: 25px; 
}
.new{
    font-weight: 600;
    color: rgb(121, 121, 255);
}
.ast{
    color: red;
    font-size: 15px;
    font-style: italic;
}